<html>
    <head>
        <title>X-admin Server</title>
    </head>
    <body>
        <h1 style="text-align: center; margin-top:40vh;">Hello from Node.js Server</h1>
        <h3 style="text-align: center;">The server is running on <%= port %></h3>
    </body>
</html>